# Store Sales: Tests

In [33]:
%run -n main.py

In [44]:
df = pd.read_csv("../datasets/train_combined.csv", parse_dates=True)
df.head()

,date,id,store_nbr,family,sales,onpromotion,dcoilwtico,city,state,type,cluster,event_day,day_off
0,2013-01-01,0,1,AUTOMOTIVE,0.0,0,93.14,Quito,Pichincha,D,13,True,True
1,2013-01-01,1,1,BABY CARE,0.0,0,93.14,Quito,Pichincha,D,13,True,True
2,2013-01-01,2,1,BEAUTY,0.0,0,93.14,Quito,Pichincha,D,13,True,True
3,2013-01-01,3,1,BEVERAGES,0.0,0,93.14,Quito,Pichincha,D,13,True,True
4,2013-01-01,4,1,BOOKS,0.0,0,93.14,Quito,Pichincha,D,13,True,True